/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 20px;
  color: $color-primary;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}
