// COLORS
$color-primary: #111111;
$color-secondary: #414141;
$color-dark-grey: #646464;
$color-light-grey: #888888;
$color-badge-color: #A0A0A0;
$color-badge-bg: #F8F8F8;
$color-disabled: #E7E7E7;
$color-brand: #197DB5;
$color-brand-lighter: #F3F8FB;
$color-danger: #DA1515;
$color-danger-light: #FBE8E8;
$color-warning: #E5C104;
$color-warning-light: #FCF9E6;
$color-success: #19A816;
$color-success-light: #E8F6E8;
$color-green: #19AB6E;
$color-white: #FFFFFF;
$color-text: #292929;
$color-emptiness: #FCFCFC;
$color-hover-btn: #3B90C0;
$color-input-border: #B8B8B8;
// FONTS
$font-stack: "SF Pro Display", "Arial", sans-serif;
