.file-downloader-parent{
  width: 280px;
}

.file-downloader{
  @include flex-row;
  padding: 8px 12px;
  background-color: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 4px;

  &::before{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-image: url("../../img/file-icon.svg");
    background-position: center;
    background-size: 32px;
    content: "";
  }
}

.file-downloader__info {
  @include flex-column;
  align-items: flex-start;
  margin-right: 62px;

}

.file-downloader__name {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #111111;
}

.file-downloader__size {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #888888;
}

.file-downloader__link {
  width: 32px;
  height: 32px;
  padding: 8px;
  background: #F3F8FB;
  border-radius: 4px;
  background-image: url("../../img/download-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}