.fixed-notification {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(6px);
}

.fixed-notification__dialog {
  width: 480px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: $color-white;
}

.fixed-notification__top {
  margin-bottom: 2px;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: $color-white;
  box-shadow: 0px 2px 4px #E9E9E9;
  z-index: 2;
}

.fixed-notification__close-btn {
  position: absolute;
  top: 20px;
  left: -70px;
  width: 56px;
  height: 56px;
  padding: 13px;
  background-color: $color-white;
  background-image: url("../../img/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

.fixed-notification__title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: $color-primary;
  text-align: left;
}

.fixed-notification__notifications {
  @include list-unstyled;
  @include flex-column;
  height: 85vh;
  background-color: #F5F5F5;
  overflow: auto;
  z-index: 1;
}

.fixed-notification__notification {
  @include flex-row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 20px 24px 20px 24px;
  background-color: #FCFCFC;

  &:hover {
    background-color: $color-white;
  }
  
  &::before {
    width: 36px;
    height: 36px;
    padding: 8px;
    margin-right: 12px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border-radius: 50%;
    content: "";
  }

  &--unread::after {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 6px;
    height: 6px;
    background-color: $color-danger;
    border-radius: 50%;
    content: "";
  }
  
  &--accepted::before {
    padding: 10px;
    background-color: $color-success-light;
    background-image: url("../../img/checked.svg");
    background-size: 16px 16px;
  }


  &--warning::before {
    background-color: $color-warning-light;
    background-image: url("../../img/icon-warning.svg");
  }

  &--declined::before {
    background-color: #F5F5F5;
    background-image: url("../../img/icon-declined.svg");
  }
}

.fixed-notification__content {
  @include flex-column;
  align-items: flex-start;
}

.fixed-notification__name {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
}

.fixed-notification__comment {
  width: 90%;
  margin: 0;
  padding-left: 8px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #414141;
  border-left: 4px solid $color-disabled;
}

.fixed-notification__link {
  color: $color-brand;
  text-decoration: none;
}

.fixed-notification__img {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  display: block;
}

.fixed-notification__time {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $color-light-grey;
}

.fixed-notification__notifications::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.fixed-notification__notifications::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
}
 
.fixed-notification__notifications::-webkit-scrollbar-thumb {
  background-color: #E7E7E7;
  border-radius: 10px;
}