.model-card {
  width: calc(100% / 4 - 15px);
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px #E9E9E9;
  border-radius: 4px;
}

.model-card__img-wrapper{
  padding: 37px 45px 22px;
}

.model-card__img {
  width: 200px;
  height: 200px;
}

.model-card__content{
  @include flex-row;
  justify-content: space-between;
  padding: 0 20px 16px;
}

.model-card__title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $color-text;
}

.model-card__price {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: $color-text;
}