.model-card-parent{
  width: 820px;
}

.model-upload-card {
  padding: 40px;
  background: $color-white;
  box-shadow: 0px 2px 4px #E9E9E9;
  border-radius: 4px;
}

.model-upload-card__top {
  @include flex-row;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-disabled;
}

.model-upload-card__name {
  @include flex-row;

}

.model-upload-card__headline {
  margin: 0;
  margin-right: 12px;
  font-weight: 600;
  font-size: 28px;
  color: $color-primary;
}

.model-upload-card-id {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: $color-primary;
}

.model-upload-card__bottom {
  @include flex-column;
  align-items: flex-start;
  padding-top: 20px;
}

.model-upload-card__content {
  @include flex-row;

}

.model-upload-card__img {
  width: 280px;
  height: 280px;
  margin-right: 48px;
  padding-bottom: 24px
}

.model-upload-card__info-list {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.model-upload-card__info-item {
  width: calc(100% / 2 - 16px);
  padding: 12px 20px 12px 16px;
  flex-grow: 1;
  background-color: #FCFCFC;
  border: 1px solid $color-disabled;
  box-sizing: border-box;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:last-child{
    padding: 29px 16px 48px;
  }
}

.model-upload-card__info-title {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $color-dark-grey;  
}

.model-upload-card__info-desc {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $color-primary;
}

.model-upload-card__info-price {
  font-weight: 500;
  text-transform: uppercase;
}