.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  @include list-unstyled;
  @include flex-row;
  margin-right: 28px;
}

.site-nav__item {
  border-bottom: 2px solid transparent;
  
  &:not(:last-child) {
    margin-right: 16px;
  }
  
  &:hover {
    background-color: #F3F8FB;
    border-bottom: 2px solid $color-brand;
  }
}

.site-nav__link {
  @include flex-row;
  padding: 24px 12px;
  position: relative;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  color: $color-secondary;
  text-decoration: none;

  &:hover .site-nav__icon {
    color: rgba(25, 125, 181, 1);
  }
}

.site-nav__icon {
  margin-right: 6px;
}

.site-nav__notification {
  position: relative;
  margin-right: 40px;
  color: $color-secondary;

  &:hover .site-nav__icon {
    color: $color-brand;
  }
}

.site-nav__notification-counter {
  position: absolute;
  top: -7px;
  right: 0px;
  align-self: center;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: $color-white;
  background-color: $color-danger;
  border: 2px solid $color-white;
  border-radius: 50%;
}

.site-nav__avatar {
  opacity: 1;
  transition: 0.4s ease opacity;

  &:hover {
    opacity: 0.8;
  }
}

.site-nav__drop {
  position: relative;
}

.site-nav__drop--open
.site-nav__drop-main {
  display: block; /* ADD THIS STYLE FOR TOGGLE DROPDOWN */
}

.site-nav__drop-main {
  display: none; /* ADD THIS STYLE */
  width: 280px;
  position: absolute;
  z-index: 2;
  right: -25px;
  top: calc(100% + 18px);
  padding: 20px;
  padding-bottom: 12px; 
  background-color: #fff;
  box-shadow: 0px 6px 12px 0px #E5E5E5;
  border-radius: 4px;

  &::after {
    width: 18px;
    height: 15px;
    position: absolute;
    z-index: 1;
    left: calc(50% + 88px);
    bottom: calc(100% - 2px);
    background-image: url(../img/icon/arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
  }

}

.site-nav__drop-header {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #E7E7E7;
}

.site-nav__drop-header-img {
  margin-right: 12px;
}

.site-nav__drop-header-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.site-nav__drop-header-heading {
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 20px;
}

.site-nav__drop-rating-wrapper {
  display: flex;
}

.site-nav__drop-rating {
  margin-right: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-green;
}

.site-nav__drop-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-secondary;
}

.site-nav__drop-list {
  @include list-unstyled;
  margin-top: 21px;
} 

.site-nav__drop-link {
  display: flex;
  padding: 8px;
  text-decoration: none;
  color: $color-secondary;
  border-radius: 2px;

  &:hover {
    background-color: $color-badge-bg;
    color: $color-primary;
  }
}

.site-nav__drop-link-icon {
  margin-right: 11px;
}

.site-nav__drop-link-desc {
  font-size: 16px;
}
