.site-nav{
  display: flex;
  align-items: center;
}

.site-nav__list {
  @include list-unstyled;
  @include flex-row;
  margin-right: 28px;
}

.site-nav__item {
  border-bottom: 2px solid transparent;
  
  &:not(:last-child){
    margin-right: 16px;
  }
  
  &:hover{
    background-color: #F3F8FB;
    border-bottom: 2px solid $color-brand;
  }
}

.site-nav__link {
  @include flex-row;
  padding: 24px 12px;
  position: relative;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  color: $color-secondary;
  text-decoration: none;

  &:hover .site-nav__icon{
    color: rgba(25, 125, 181, 1);
  }
}

.site-nav__icon{
  margin-right: 6px;
}

.site-nav__notification{
  position: relative;
  margin-right: 40px;
  color: $color-secondary;

  &:hover .site-nav__icon{
    color: $color-brand;
  }
}

.site-nav__notification-counter{
  position: absolute;
  top: -7px;
  right: 0px;
  align-self: center;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: $color-white;
  background-color: $color-danger;
  border: 2px solid $color-white;
  border-radius: 50%;
}

.site-nav__avatar{
  opacity: 1;
  transition: 0.4s ease opacity;

  &:hover{
    opacity: 0.8;
  }
}